<!-- <img src="assets/about.png" alt="About"> -->
<h1>Sobre</h1>
<div fxLayout="column" fxLayoutAlign="space-around stretch">
    <div class="row" style="padding-left: 10%">
        <div class="column">
            <div>
                <img src="/assets/weight-lifting.png" height="100px" />
                <h2>Pontos fortes</h2>
            </div>
            <div>
                <ul>
                    <li>Licenciatura no ISEP;</li>
                    <li>Adaptabilidade a qualquer tipo de ambiente;</li>
                    <li>Conhecimentos em múltiplas linguagens de programação;</li>
                    <li>Interesse contínuo em aprender.</li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div>
                <img src="/assets/improve.png" height="100px" />
                <h2>Pontos menos fortes</h2>
            </div>
            <div>
                <ul>
                    <li>Dificuldades em expor o pensamento oralmente;</li>
                    <li>Más estimativas temporais relativamente a tarefas;</li>
                    <li>Preferência a facilidade comparativamente a qualidade.</li>
                </ul>
            </div>
        </div>
    </div>

</div>