<mat-nav-list fxFlex="initial">
  <mat-list-item fxFlex><img src="assets/logoR.png" height="60px" alt="Rui Ribeiro"></mat-list-item>
  <a mat-list-item fxFlex routerLink="/home" routerLinkActive="active-link">Inicio</a>
  <a mat-list-item fxFlex routerLink="/sobre" routerLinkActive="active-link">Sobre</a>
  <a mat-list-item fxFlex routerLink="/projetos" routerLinkActive="active-link">Projetos</a>
  <a mat-list-item fxFlex routerLink="/contacto" routerLinkActive="active-link">Contacto</a>
</mat-nav-list>
<mat-divider></mat-divider>