<mat-card fxLayout="column" fxLayoutAlign="space-around none">
  <section>
    <p>
      <mat-icon svgIcon="at" class="icon"></mat-icon> | ruiribeiro97@gmail.com
    </p>
    <p>
      <mat-icon class="icon">phone</mat-icon> | +351 910838851
    </p>
  </section>
  <section fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-icon-button (click)="githubProfile()">
      <mat-icon svgIcon="github-circle"></mat-icon>
    </button>
    <button mat-icon-button (click)="facebookProfile()">
      <mat-icon svgIcon="facebook"></mat-icon>
    </button>
    <button mat-icon-button (click)="linkedinProfile()">
      <mat-icon svgIcon="linkedin"></mat-icon>
    </button>
  </section>
</mat-card>